<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 mx-auto">
        <div class="card my-5 p-3">
          <div class="card-body text-center">
              <h1 class="card-title text-primary">Sistemas de Requisições</h1>

              <form class="col-md-8 mx-auto" [formGroup]="form" (ngSubmit)="login()">
                <div class="form-group mt-5">
                  <label for="email" class="form-label fs-5">Email</label>
                  <input
                  formControlName="email"
                  class="form-control"
                  type="email"
                  placeholder="Digite seu endereço de email">
                </div>
                <div class="form-group mt-5">
                  <label for="senha" class="form-label fs-5">Senha</label>
                  <input
                  formControlName="senha"
                  class="form-control"
                  type="password"
                  placeholder="Digite sua senha">
                </div>
                <div class="d-grid mx-4 gap-2 mt-3">
                  <button type="submit" class="btn btn-primary"><i class="pi pi-sign-in me-1"> Login</i></button>

                </div>
              </form>
          </div>
        </div>
    </div>
  </div>
</div>
