<div class="container">
  <div class="row">
    <!-- Conteúdo principal -->
    <div class="col-12 col-md-10 col-lg-9 mx-auto">
      <div class="text-center text-md-start">
        <h1 class="fw-bold text-primary">Equipamentos</h1>
      </div>

      <div class="d-grid gap-2 d-md-block mt-5">
      <button
      (click)="gravar(modal)"
      type="button"
      class="btn btn-primary me-md-1 col-md-2">
      <i class="pi pi-user-plus me-2"></i>Novo
    </button>
    <button
      role="button"
      class="btn btn-outline-primary col-md-2"
      routerLink="/painel">
      <i class="pi pi-sign-out me-2">Voltar</i>
    </button>
      </div>

      <div class="mt-4">
        <table class="table table-light table-striped table-hover">
          <thead class="thead-dark text-center">
            <tr>
              <th>Numero de Serie</th>
              <th>Nome</th>
              <th>Preço</th>
              <th>Data</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr *ngFor="let equipamento of (equipamentos$ | async)">
              <td> {{ equipamento.nSerie }} </td>
              <td> {{ equipamento.nome }} </td>
              <td> {{ equipamento.preco | currency }} </td>
              <td> {{ equipamento.data | date:"dd/MM/yyyy" }} </td>
              <td class="d-grid d-md-block">
              <button
                (click)="gravar(modal, equipamento)"
                type="button"
                class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto">
                <i class="pi pi-user-edit"></i>
             </button>

            <button
            (click)="excluir(equipamento)"
              type="button"
              class="btn btn-outline-danger">
              <i class="pi pi-trash"></i>
            </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ tituloModal }} de Equipamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Fechar')"></button>
  </div>
  <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
  <div class="modal-body">
    <div class="form-group mb-3 position-relative">
        <label for="nSerie" class="form-label">Número de Serie do Equipamento</label>
        <input formControlName="nSerie"
        class="form-control"
        [ngClass]="(nSerie?.touched && nSerie?.invalid) ? 'is-invalid' : ''"
        type="text"
        placeholder="Digite o numero de serie do equipamento">
        <div class="invalid-tooltip" *ngIf="nSerie?.touched && nSerie?.invalid">
          <span *ngIf="nSerie?.errors?.['required']">O numero de série precisa ser preenchido.</span>
        </div>
  </div>

  <div class="form-group mb-3 position-relative">
    <label for="nome" class="form-label">Nome do Equipamento</label>
    <input formControlName="nome"
    class="form-control"
    [ngClass]="(nome?.touched && nome?.invalid) ? 'is-invalid' : ''"
    type="text"
    placeholder="Digite o nome do equipamento">
    <div class="invalid-tooltip" *ngIf="nome?.touched && nome?.invalid">
      <span *ngIf="nome?.errors?.['required']">O nome precisa ser preenchido.</span>
      <span *ngIf="nome?.errors?.['minlength']">O nome precisa ter no mínimo 3 letras.</span>
    </div>
</div>

<div class="form-group mb-3 position-relative">
  <label for="preco" class="form-label">Preço do Equipamento</label>
  <input formControlName="preco"
  currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left'  }"
  class="form-control"
  [ngClass]="(preco?.touched && preco?.invalid) ? 'is-invalid' : ''"
  type="text"
   placeholder="R$ 0,00">
   <div class="invalid-tooltip" *ngIf="preco?.touched && preco?.invalid">
    <span *ngIf="preco?.errors?.['required']">O preço precisa ser preenchido.</span>
  </div>
</div>

<div class="form-group mb-3 position-relative">
  <label for="data" class="form-label">Data de fabricação do equipamento</label>
  <input formControlName="data"
  class="form-control"
  [ngClass]="(data?.touched && data?.invalid) ? 'is-invalid' : ''"
  type="date">
  <div class="invalid-tooltip" *ngIf="data?.touched && data?.invalid">
    <span *ngIf="data?.errors?.['required']">a data precisa ser preenchida.</span>
  </div>
</div>

  </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary col-md-3" (click)="modal.dismiss('fechar')">Cancelar</button>
      <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Gravar</button>
    </div>
  </form>
</ng-template>

